.mainDiv{
	margin: 20px 10px 10px 10px;
}
.secondDiv{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    padding-top: 35px;
    margin-top: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.bodyBackground{
	background-image: url("pexels-photo-370799.jpeg");
   background-color: #cccccc;
}
.backgroundHome{
	background-image: url("pexels-photo-370799.jpeg");
   background-color: #cccccc;
}
.tailDiv{
	height:100px;
	background-color: #b2b2ff;
}
